<div layout="column" layout-sm="column" flex>
    <div>
        <center><label class="myFont">{{dictionary.Dictionary[0].WellcomToYourAccount}} {{message}}</label>
        </center>
    </div>

    </br>
</div>
</br>
</br>


</br>


<div ng-cloak="" class="carddemoCardActionButtons">
    <md-content class="md-padding" layout-xs="column" layout="row" style="background-color:transparent;">
        <div flex-xs="" flex-gt-xs="50" layout="column"
             ng-repeat="srcProfileImage in houseProfilePathesImages.availableOptions">
            <md-card style="border-radius: 10px 10px 0 0">
                <img ng-src=/GET_SPECIFIC_HOUSE_PROFILE_PICTURES/{{srcProfileImage}}
                     ng-click="houseClicked(srcProfileImage)" class="md-card-image" alt="Washed Out" style="border-radius: 10px 10px 0 0">
            </md-card>
        </div>
    </md-content>
</div>



